<div class="content-header">
  <h2>アクションプラン新規投稿</h2>
</div>

<div class="post-stage-box">
  <div class="post-stage">書籍選択</div>
  <div class="post-stage current-stage">アクションプラン</div>
</div>

<div class="post-action-plan">
  <p>255文字まで入力できます</p>
  <%= form_with url: actions_url, local: true do |f| %>
    <%= hidden_field_tag :book_title, params[:book_title] %>
    <%= hidden_field_tag :book_image, params[:book_image] %>
    <%= hidden_field_tag :book_link, params[:book_link] %>
    <%= f.text_area :content, class: "form-control mb-2", rows: 5 %>
    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
