<div class="content-header">
  <h2><%= @user.name %>さんのユーザーページ<br><%= @user.name %>さんの投稿一覧</h2>
</div>

<% if @user.actions %>
  <div class="action-list">
    <% @user.actions.each do |action| %>
      <a class="action-item" href="<%= action_path(action) %>">
        <div class="book-item">
          <%= image_tag action.book_image || "no-image.jpg", alt: action.book_title, class: "book-image" %>
          <p class="book-title"><%= action.book_title %></p>
        </div>
        <p class="action-content"><%= action.content %></p>
      </a>
    <% end %>
  </div>
<% end %>
